<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="h-full w-full p-4 bg-zinc-800">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl text-white mb-4">
          <span class="text-zinc-400">Hey</span>, <%= user.username %>
        </h1>
        <div>
          <a
            class="inline-flex bg-red-600 text-white p-2 rounded-lg"
            href="/logout"
            >Logout</a
          >
        </div>
      </div>
      <form action="/posts" method="post">
        <textarea
          class="p-3 mr-4 bg-zinc-700 rounded-lg text-white w-1/3 h-36 resize-none outline-none"
          placeholder="What's on your mind ?..."
          name="content"
        ></textarea>
        <input
          class="px-3 py-1 mt-3 cursor-pointer text-white rounded-xl bg-blue-500 block"
          type="submit"
          value="Create Post"
        />
      </form>
      <div class="post-container mt-4">
        <% user.post.forEach((post)=>{ %>
        <div class="posts w-96 mb-4 p-3 bg-zinc-700">
          <h3 class="text-blue-600 mb-2">@<%=user.username%></h3>
          <div class="text-gray-200"><%=post.content%></div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
